<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Obliczenia</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container" style="display: inline-block">
    <div class="row">
        <div class="col-sm-5"><strong>Udało się znaleść napis dla Twojego hasha !</strong></div>
    </div>
    <div class="row" style="margin-top: 10px">
            <div class="col-sm-2">Wymagany prefiks hasha</div>
            <div class="col-sm-3">{{ hash_prefix }}</div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-sm-2">Pełny prefiks hasha</div>
        <div class="col-sm-3">{{ hash }}</div>
    </div>
    <div class="row" style="margin-top: 10px">
            <div class="col-sm-2">Napis</div>
            <div class="col-sm-3">{{ word }}</div>
    </div>
    <a href="{% url 'start' %}">Wstecz</a> </br>
</div>
</body>
</html>