{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>String hash searcher</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="container" style="display: inline-block">
    <div class="row" style="margin-top: 10px">
        <form method="get" action="{% url 'brute_force_hash_sync' %}">
            <div class="col-sm-2">
                Prefix hasha sha-256:
            </div>
            <div class="col-sm-2">
                <input id="prefix" type="text" name="prefix"/>
            </div>
            <div class="col-sm-2">
                <button type="submit">Szukaj synchronicznie</button>
            </div>
        </form>
    </div>
    <div class="row" style="margin-top: 10px">
        <form method="post" action="{% url 'brute_force_hash_async' %}">
            <div class="col-sm-2">
                Prefix hasha sha-256:
            </div>
            <div class="col-sm-2">
                <input id="prefix" type="text" name="prefix"/>
            </div>
            <div class="col-sm-2">
                <button type="submit">Zleć asynchronicznie</button>
            </div>
        </form>
    </div>
    <div class="row" style="margin-top: 10px">
        <form method="post" action="{% url 'hash_query' %}">
            <div class="col-sm-2">
                Hash sha-256:
            </div>
            <div class="col-sm-2">
                <input id="hash_value" type="text" name="hash_value"/>
            </div>
            <div class="col-sm-2">
                <button type="submit">Zapytaj bazy danych</button>
            </div>
        </form>
    </div>
    <a href="{% url 'elastic' %}">Elastic</a>
</div>

</body>
</html>
